<div class="form-btn-confirm-jadwal">
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
        <button class="form-control btn btn-primary btn-per-unit">
          <i class="fas fa-plus"></i> Jadwal Per Unit
        </button>
      </div>
      <div class="col-lg-6">
        <button class="form-control btn btn-primary btn-per-pegawai">
          <i class="fas fa-plus"></i> Jadwal Per Pegawai
        </button>
      </div>
    </div>
  </div>
</div>
