<div class="d-none form-jadwal-per-pergawai">
  <form
    action="/pegawai/pegawaiJadwal"
    method="post"
    class="form-submit-perpegawai"
    enctype="multipart/form-data"
  >
    <div class="modal-body">
      <div id="error-form-submit-perpegawai"></div>
      <input type="hidden" name="page" value="add" />
      <input type="hidden" name="id_pegawai_jadwal" value="" />

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Pegawai</label>
            <select
              name="id_pegawai"
              class="form-control select2 id_pegawai"
              id=""
              style="border: 1px solid black"
            >
              <option value="">-- Pegawai --</option>
              <% pegawai.map((v,i) => { %>
              <option value="<%- v.id_pegawai %>"><%- v.nama_lengkap %></option>
              <% }) %>
            </select>
            <small class="text-danger error-id_pegawai"></small>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Jadwal</label>
            <select
              name="id_jadwal"
              class="form-control select2 id_jadwal"
              id=""
            >
              <option value="">-- Jadwal --</option>
              <% jadwal.map((v,i) => { %>
              <option value="<%- v.id_jadwal %>">
                <%- v.waktu_masuk %> - <%- v.waktu_keluar %> | <%- v.jenis %>
              </option>
              <% }) %>
            </select>
            <small class="text-danger error-id_jadwal"></small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Bulan</label>
            <select
              name="bulan_perpegawai"
              class="form-control select2-multiple bulan_perpegawai"
              id="bulan_perpegawai"
              multiple="multiple"
            >
              <option value="" disabled="disabled" data-name="bulan_perpegawai">
                -- Select All --
              </option>
              <option value="01">Januari</option>
              <option value="02">Februari</option>
              <option value="03">Maret</option>
              <option value="04">April</option>
              <option value="05">Mei</option>
              <option value="06">Juni</option>
              <option value="07">Juli</option>
              <option value="08">Agustus</option>
              <option value="09">September</option>
              <option value="10">Oktober</option>
              <option value="11">November</option>
              <option value="12">Desember</option>
            </select>
            <small class="text-danger error-bulan_perpegawai"></small>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Hari Libur</label>
            <select
              name="hari_libur_perpegawai"
              class="form-control select2-multiple hari_libur_perpegawai"
              id="hari_libur_perpegawai"
              multiple="multiple"
            >
              <option
                value=""
                disabled="disabled"
                data-name="hari_libur_perpegawai"
              >
                -- Select All --
              </option>
              <option value="monday">Senin</option>
              <option value="tuesday">Selasa</option>
              <option value="wednesday">Rabu</option>
              <option value="thursday">Kamis</option>
              <option value="friday">Jumat</option>
              <option value="saturday">Sabtu</option>
              <option value="sunday">Minggu</option>
            </select>
            <small class="text-danger error-hari_libur_perpegawai"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="mr-auto">
        <a href="#" class="btn btn-back btn-info">
          <i class="fas fa-backward"></i> Kembali
        </a>
      </div>
      <button type="button" class="btn btn-danger" data-dismiss="modal">
        <i class="fas fa-window-close"></i> Close
      </button>
      <button type="button" class="btn btn-primary btn-submit-perPegawai">
        <i class="fas fa-paper-plane"></i> Simpan
      </button>
    </div>
  </form>
</div>
