<div>
  <h5 style="text-decoration: underline">Informasi Account</h5>
  <input type="hidden" name="password_hash_old" />
  <div class="form-group">
    <label for="">Username</label>
    <input
      type="text"
      class="form-control username"
      placeholder="Username..."
      name="username"
    />
    <small class="text-danger error-username"></small>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Password</label>
        <input
          type="password"
          name="password_hash"
          class="form-control password_hash"
          id="password"
          placeholder="Password"
        />
        <small class="text-danger error-password_hash"></small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Confirm Password</label>
        <input
          type="password"
          class="form-control confirm_password_hash"
          placeholder="Confirm password"
          name="confirm_password_hash"
          id="confirm_password_hash"
        />
        <small class="text-danger error-confirm_password_hash"></small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input
      type="text"
      class="form-control email"
      name="email"
      placeholder="Email"
    />
    <small class="text-danger error-email"></small>
  </div>
</div>
