<div>
  <h5 style="text-decoration: underline">Informasi Izin</h5>
  <div class="form-group">
    <label for="">No. Surat Tanda Registrasi (STR)</label>
    <input
      type="text"
      class="form-control str_izin"
      placeholder="STR Izin..."
      name="str_izin"
    />
    <small class="text-danger error-str_izin"></small>
  </div>

  <div class="form-group">
    <label for="">Jenis izin</label>
    <select class="form-control jenis_izin" name="jenis_izin">
      <option value="">-- Jenis izin --</option>
      <option value="sip">SIP</option>
      <option value="sip intern">SIP INTERN</option>
      <option value="sipb">SIPB</option>
      <option value="sipp">SIPP</option>
      <option value="siptgm">SIPTGM</option>
      <option value="sippa">SIPPA</option>
      <option value="sikpm">SIKPM</option>
      <option value="sikro">SIKRO</option>
      <option value="sipa">SIPA</option>
      <option value="sippk">SIPPK</option>
    </select>
    <small class="text-danger error-jenis_izin"></small>
  </div>

  <div class="form-group">
    <label for="">No. Izin</label>
    <input
      type="text"
      class="form-control nomor_izin"
      placeholder="No. izin..."
      name="nomor_izin"
    />
    <small class="text-danger error-nomor_izin"></small>
  </div>
  <div class="form-group">
    <label for="">Tanggal kadaluarsa izin</label>
    <input
      type="text"
      class="form-control datepicker tanggal_kadaluarsa_izin"
      placeholder="Tanggal kadaluarsa izin..."
      name="tanggal_kadaluarsa_izin"
    />
    <small class="text-danger error-tanggal_kadaluarsa_izin"></small>
  </div>
</div>
