<div>
  <h5 style="text-decoration: underline">Informasi Kontrak</h5>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Jenis kontrak</label>
        <select name="jenis_kontrak" class="form-control jenis_kontrak" id="">
          <option value="">-- Jenis Kontrak --</option>
          <option value="tetap">Tetap</option>
          <option value="kontrak 1">Kontrak 1</option>
          <option value="kontrak 2">Kontrak 2</option>
        </select>
        <small class="text-danger error-jenis_kontrak"></small>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Tanggal mulai</label>
        <input
          class="form-control datepicker tanggal_mulai"
          placeholder="Tanggal mulai"
          id="tanggal_mulai"
          name="tanggal_mulai"
          type="text"
        />
        <small class="text-danger error-tanggal_mulai"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Tanggal selesai</label>
        <input
          class="form-control datepicker tanggal_selesai"
          placeholder="Tanggal selesai"
          id="tanggal_selesai"
          name="tanggal_selesai"
          type="text"
        />
        <small class="text-danger error-tanggal_selesai"></small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Komponen Gaji Karyawan</label>
        <table class="w-100">
          <% komponenGajiKaryawan.map((v,i) => { %>
          <tr>
            <td width="60%;">
              <div class="form-check">
                <input
                  name="id_komponen_gaji[<%-v.id_komponen_gaji%>]"
                  class="form-check-input id_komponen_gaji"
                  type="checkbox"
                  value="<%- v.id_komponen_gaji %>"
                  id="id_komponen_gaji<%-v.id_komponen_gaji%>"
                />
                <label
                  class="form-check-label"
                  for="id_komponen_gaji<%-v.id_komponen_gaji%>"
                >
                  <%- v.komponen_gaji %> (<%- v.jenis %>)
                </label>
                <small class="text-danger error-id_komponen_gaji"></small>
              </div>
            </td>
            <td width="40%;">
              <div class="form-check">
                <input
                  data-id_komponen_gaji="<%- v.id_komponen_gaji %>"
                  type="text"
                  class="d-none nominal-all form-control border border-secondary nominal-<%- v.id_komponen_gaji %>"
                  name="nominal"
                  placeholder="<%- v.komponen_gaji %>..."
                />
                <small class="text-danger error-nominal-all"></small>
              </div>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Komponen Gaji Perusahaan</label>
        <table class="w-100">
          <% komponenGajiPerusahaan.map((v,i) => { %>
          <tr>
            <td width="60%;">
              <div class="form-check">
                <input
                  name="id_komponen_gaji[<%-v.id_komponen_gaji%>]"
                  class="form-check-input id_komponen_gaji"
                  type="checkbox"
                  value="<%- v.id_komponen_gaji %>"
                  id="id_komponen_gaji<%-v.id_komponen_gaji%>"
                />
                <label
                  class="form-check-label"
                  for="id_komponen_gaji<%-v.id_komponen_gaji%>"
                >
                  <%- v.komponen_gaji %> (<%- v.jenis %>)
                </label>
                <small class="text-danger error-id_komponen_gaji"></small>
              </div>
            </td>
            <td width="40%;">
              <div class="form-check">
                <input
                  type="text"
                  class="d-none nominal-all form-control border border-secondary nominal-<%- v.id_komponen_gaji %>"
                  name="nominal"
                  placeholder="<%- v.komponen_gaji %>..."
                  data-id_komponen_gaji="<%- v.id_komponen_gaji %>"
                />
                <small class="text-danger error-nominal-all"></small>
              </div>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </div>
</div>
