<div>
  <h5 style="text-decoration: underline">Informasi Rekening</h5>
  <div class="form-group">
    <label for="">Nama bank</label>
    <input
      type="text"
      class="form-control nama_bank_rekening"
      placeholder="Nama bank..."
      name="nama_bank_rekening"
    />
    <small class="text-danger error-nama_bank_rekening"></small>
  </div>

  <div class="form-group">
    <label for="">No. rekening</label>
    <input
      type="text"
      class="form-control nomor_rekening"
      name="nomor_rekening"
      placeholder="No. rekening"
    />
    <small class="text-danger error-nomor_rekening"></small>
  </div>

  <div class="form-group">
    <label for="">Pemilik rekening</label>
    <input
      type="text"
      class="form-control pemilik_rekening"
      name="pemilik_rekening"
      placeholder="Pemilik rekening"
    />
    <small class="text-danger error-pemilik_rekening"></small>
  </div>
</div>
