<div>
  <h5 style="text-decoration: underline">Informasi Kontrak</h5>
  <div class="row">
    <div class="col-lg-6">
      <table class="table-detail">
        <tr>
          <td>Jenis kontrak</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_jenis_kontrak"></span></td>
        </tr>
        <tr>
          <td>Tanggal mulai</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_tanggal_mulai"></span></td>
        </tr>
        <tr>
          <td>Tanggal selesai</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_tanggal_selesai"></span></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <strong>Komponen Gaji Karyawan: </strong>
      <div id="load_komponen_gaji_karyawan"></div>
    </div>
  </div>
</div>
