<div>
  <h5 style="text-decoration: underline">Informasi Rekening</h5>
  <table class="table-detail">
    <tr>
      <td>Nama bank</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_nama_bank_rekening"></span></td>
    </tr>
    <tr>
      <td>No. rekening</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_nomor_rekening"></span></td>
    </tr>
    <tr>
      <td>Pemilik rekening</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_pemilik_rekening"></span></td>
    </tr>
  </table>
</div>