<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title><%- title %></title>

    <!-- General CSS Files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/fontawesome/fontawesome-free-6.2.0-web/css/all.min.css"
    />

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="/backend/stisla/node_modules/jqvmap/dist/jqvmap.min.css"
    />
    <link
      rel="stylesheet"
      href="/backend/stisla/node_modules/summernote/dist/summernote-bs4.css"
    />
    <link
      rel="stylesheet"
      href="/backend/stisla/node_modules/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/backend/stisla/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"
    />

    <!-- Template CSS -->
    <link rel="stylesheet" href="/backend/stisla/assets/css/style.css" />
    <link rel="stylesheet" href="/backend/stisla/assets/css/components.css" />
    <link
      rel="stylesheet"
      href="/node_modules/sweetalert2/dist/sweetalert2.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/select2/dist/css/select2.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css"
    />

    <link
      rel="stylesheet"
      href="/library/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css"
    />

    <link
      rel="stylesheet"
      href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css"
    />
  </head>

  <body>
    <div id="app">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <%- include('./partial/navbar'); %>

        <div class="main-sidebar sidebar-style-2">
          <%- include('./partial/sidebar'); %>
        </div>

        <!-- Main Content -->
        <%- body %>
        <!-- End Content -->

        <%- include('./partial/footer'); %>
      </div>
    </div>

    <div
      id="loading-data"
      style="
        position: fixed;
        background-color: #8b7e7454;
        width: 100%;
        height: 100%;
        z-index: 999999;
        top: 0;
        left: 0;
      "
      class="d-none"
    >
      <div class="text-center" style="margin-top: 120px">
        <img src="/image/asset/loading.svg" alt="Loading..." width="100px;" />
      </div>
    </div>

    <!-- General JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/backend/stisla/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="/backend/stisla/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/backend/stisla/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/backend/stisla/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/backend/stisla/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script src="/backend/stisla/node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- Template JS File -->
    <script src="/backend/stisla/assets/js/scripts.js"></script>
    <script src="/backend/stisla/assets/js/custom.js"></script>

    <!-- Page Specific JS File -->
    <!-- <script src="/backend/stisla/assets/js/page/index.js"></script> -->
    <script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/bower_components/select2/dist/js/select2.min.js"></script>
    <script src="/library/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/node_modules/autonumeric/dist/autoNumeric.min.js"></script>
    <script src="/node_modules/qrcode/build/qrcode.js"></script>
    <script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>

    <script>
      $(document).ready(function () {
        loadSidebar();

        function loadSidebar() {
          $(".list-humberger").addClass("d-none").fadeOut();
          $(".list-close").removeClass("d-none").fadeIn();

          $("body").addClass("sidebar-gone");
          $(".main-content").css({
            "padding-left": "36px",
          });
          $(".navbar").css({
            left: "5px",
          });
          $(".nicescroll-cursors").addClass("d-none");
        }

        $(document).on("click", ".list-humberger a", function (e) {
          e.preventDefault();
          $(".list-humberger").addClass("d-none").fadeOut();
          $(".list-close").removeClass("d-none").fadeIn();

          $("body").addClass("sidebar-gone");
          $(".main-content").css({
            "padding-left": "36px",
          });
          $(".navbar").css({
            left: "5px",
          });
          $(".nicescroll-cursors").addClass("d-none");
        });

        $(document).on("click", ".list-close a", function (e) {
          e.preventDefault();
          $(".list-close").addClass("d-none").fadeOut();
          $(".list-humberger").removeClass("d-none").fadeIn();

          $("body").removeClass("sidebar-gone");
          $(".main-content").css({
            "padding-left": "280px",
          });
          $(".navbar").css({
            left: "250px",
          });
          $(".nicescroll-cursors").removeClass("d-none");
        });
      });
    </script>
    <%- script %>
  </body>
</html>
