<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title><%- title %></title>

    <!-- General CSS Files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/library/fontawesome-free-6.2.1-web/css/all.min.css"
    />

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="/backend/stisla/node_modules/bootstrap-social/bootstrap-social.css"
    />

    <!-- Template CSS -->
    <link rel="stylesheet" href="/backend/stisla/assets/css/style.css" />
    <link rel="stylesheet" href="/backend/stisla/assets/css/components.css" />
    <link
      rel="stylesheet"
      href="/node_modules/sweetalert2/dist/sweetalert2.min.css"
    />
  </head>

  <body>
    <%- body %>

    <div
      id="loading-data"
      style="
        position: fixed;
        background-color: #8b7e7454;
        width: 100%;
        height: 100%;
        z-index: 999999;
        top: 0;
        left: 0;
      "
      class="d-none"
    >
      <div class="text-center" style="margin-top: 120px">
        <img src="/image/asset/loading.svg" alt="Loading..." width="100px;" />
      </div>
    </div>

    <!-- General JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/backend/stisla/assets/js/stisla.js"></script>

    <!-- JS Libraies -->

    <!-- Template JS File -->
    <script src="/backend/stisla/assets/js/scripts.js"></script>
    <script src="/backend/stisla/assets/js/custom.js"></script>
    <script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>

    <!-- Page Specific JS File -->
    <%- script %>
  </body>
</html>
