<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Client</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/client"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_client" value="" />
          <div>
            <h5 style="text-decoration: underline">Informasi Account</h5>
            <input type="hidden" name="password_hash_old" />
            <div class="form-group">
              <label for="">Username</label>
              <input
                type="text"
                class="form-control username"
                placeholder="Username..."
                name="username"
              />
              <small class="text-danger error-username"></small>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Password</label>
                  <input
                    type="password"
                    name="password_hash"
                    class="form-control password_hash"
                    id="password"
                    placeholder="Password"
                  />
                  <small class="text-danger error-password_hash"></small>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control confirm_password_hash"
                    placeholder="Confirm password"
                    name="confirm_password_hash"
                    id="confirm_password_hash"
                  />
                  <small
                    class="text-danger error-confirm_password_hash"
                  ></small>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Email</label>
              <input
                type="text"
                class="form-control email"
                name="email"
                placeholder="Email"
              />
              <small class="text-danger error-email"></small>
            </div>
          </div>

          <div>
            <h5 style="text-decoration: underline">Biodata diri</h5>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="">Nama client</label>
                  <input
                    type="text"
                    class="form-control nama_client"
                    placeholder="Nama client"
                    name="nama_client"
                    id="nama_client"
                  />
                  <small class="text-danger error-nama_client"></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Alamat</label>
                  <textarea
                    class="form-control alamat"
                    placeholder="Alamat"
                    name="alamat"
                    rows="3"
                    id="alamat"
                  ></textarea>
                  <small class="text-danger error-alamat"></small>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Kontak</label>
                  <input
                    type="number"
                    class="form-control kontak"
                    name="kontak"
                    placeholder="Kontak"
                    id="kontak"
                  />
                  <small class="text-danger error-kontak"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalDetail"
  aria-labelledby="modalDetailLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailLabel">Detail Client</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <h5 style="text-decoration: underline">Informasi Account</h5>
          <table class="table-detail">
            <tr>
              <td>Username</td>
              <td><span class="px-3">:</span></td>
              <td><span id="td_username"></span></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><span class="px-3">:</span></td>
              <td><span id="td_email"></span></td>
            </tr>
          </table>
        </div>

        <div>
          <h5 style="text-decoration: underline">Biodata diri</h5>
          <table class="table-detail">
            <tr>
              <td>Nama client</td>
              <td><span class="px-3">:</span></td>
              <td><span id="td_nama_client"></span></td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td><span class="px-3">:</span></td>
              <td><span id="td_alamat"></span></td>
            </tr>
            <tr>
              <td>Kontak</td>
              <td><span class="px-3">:</span></td>
              <td><span id="td_kontak"></span></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <i class="fas fa-check"></i> OK
        </button>
      </div>
    </div>
  </div>
</div>
