<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Table <%- title %></h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-user-tie"></i> &nbsp; Daftar tabel pengajuan gaji
            </div>
            <div class="card-body">
              <div class="mb-1">
                <a
                  data-toggle="modal"
                  data-target="#modalForm"
                  href="#"
                  class="btn btn-primary icon-left btn-icon mb-2 btn-add"
                  ><i class="fas fa-plus"></i> Tambah
                </a>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Select data:</label>
                    <select class="form-control select-limit">
                      <option value="">-- Limit --</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="form-group w-50 ml-auto">
                    <label>Pencarian:</label>
                    <input
                      type="text"
                      class="form-control search"
                      placeholder="Pencarian"
                    />
                  </div>
                </div>
              </div>
              <span id="keterangan">
                Showing <span id="from"></span> to <span id="to"></span> of
                <span id="total"></span> Entries
              </span>
              <div class="table-responsive">
                <table
                  class="table table-bordered table-striped table-hover"
                  id="dataTable"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Cabang</th>
                      <th>Periode pengajuan</th>
                      <th>Status pengajuan</th>
                      <th>Periode awal</th>
                      <th>Periode akhir</th>
                      <th>Jumlah pegawai</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_id_cabang"
                          placeholder="Cabang..."
                          name="filter_id_cabang"
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_periode_pengajuan datepicker"
                          placeholder="Periode pengajuan..."
                          name="filter_periode_pengajuan"
                        />
                      </th>
                      <th>
                        <select
                          class="form-control filter_status_pengajuan"
                          name="filter_status_pengajuan"
                        >
                          <option value="">-- Status pengajuan --</option>
                          <option value="permohonan">Permohonan</option>
                          <option value="disetujui">Disetujui</option>
                          <option value="selesai">Selesai</option>
                        </select>
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_periode_awal datepicker"
                          placeholder="Periode awal..."
                          name="filter_periode_awal"
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_periode_akhir datepicker"
                          placeholder="Periode awal..."
                          name="filter_periode_akhir"
                        />
                      </th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<%- include('./modal') %> <%- include('./script') %>
