<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Pengajuan gaji</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/pengajuanGaji"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_pengajuan_gaji" value="" />
          <div class="form-group">
            <label for="">Cabang</label>
            <select
              name="id_cabang"
              class="form-control select2 id_cabang"
              id=""
            >
              <option value="">-- Cabang --</option>
              <% cabang.map((v,i) => { %>
              <option value="<%- v.id_cabang %>"><%- v.nama_cabang %></option>
              <% }) %>
            </select>
            <small class="text-danger error-id_cabang"></small>
          </div>
          <div class="form-group">
            <label for="">Periode pengajuan</label>
            <input
              type="text"
              class="form-control datepicker periode_pengajuan"
              placeholder="Periode pengajuan ..."
              name="periode_pengajuan"
            />
            <small class="text-danger error-periode_pengajuan"></small>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Periode awal</label>
                <input
                  type="text"
                  class="form-control datepicker periode_awal"
                  placeholder="Periode awal ..."
                  name="periode_awal"
                />
                <small class="text-danger error-periode_awal"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Periode akhir</label>
                <input
                  type="text"
                  class="form-control datepicker periode_akhir"
                  placeholder="Periode akhir ..."
                  name="periode_akhir"
                />
                <small class="text-danger error-periode_akhir"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
