<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Lokasi Tugas</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/lokasiTugas"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_lokasi_tugas" value="" />
          <div class="form-group">
            <label for="">Nama cabang</label>
            <select
              name="id_cabang"
              class="form-control select2 id_cabang"
              id=""
            >
              <option value="">-- Cabang --</option>
              <% cabang.map((v,i) => { %>
              <option value="<%- v.id_cabang %>"><%- v.nama_cabang %></option>
              <% }) %>
            </select>
            <small class="text-danger error-id_cabang"></small>
          </div>
          <div class="form-group">
            <label for="">Nama lokasi</label>
            <input
              type="text"
              class="form-control nama_lokasi"
              placeholder="Nama lokasi"
              name="nama_lokasi"
              id="nama_lokasi"
            />
            <small class="text-danger error-nama_lokasi"></small>
          </div>
          <div class="form-group">
            <label for="">Longitude</label>
            <input
              type="text"
              class="form-control longitude"
              placeholder="Longitude"
              name="longitude"
              id="longitude"
            />
            <small class="text-danger error-longitude"></small>
          </div>
          <div class="form-group">
            <label for="">Latitude</label>
            <input
              type="text"
              class="form-control latitude"
              placeholder="Latitude"
              name="latitude"
              id="latitude"
            />
            <small class="text-danger error-latitude"></small>
          </div>
          <div class="form-group">
            <label for="">Apakah lokasi tugas ini aktif ?</label>
            <div class="form-check">
              <input
                name="is_aktif"
                class="form-check-input is_aktif"
                type="checkbox"
                value="1"
                id="is_aktif"
              />
              <label class="form-check-label" for="is_aktif"> Ya </label>
            </div>
            <small class="text-danger error-is_aktif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
