<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Table <%- title %></h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-user-tie"></i> &nbsp; Daftar tabel pengajuan cuti
            </div>
            <div class="card-body">
              <div class="mb-1">
                <a
                  data-toggle="modal"
                  data-target="#modalForm"
                  href="#"
                  class="btn btn-primary icon-left btn-icon mb-2 btn-add"
                  ><i class="fas fa-plus"></i> Tambah
                </a>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Select data:</label>
                    <select class="form-control select-limit">
                      <option value="">-- Limit --</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="form-group w-50 ml-auto">
                    <label>Pencarian:</label>
                    <input
                      type="text"
                      class="form-control search"
                      placeholder="Pencarian"
                    />
                  </div>
                </div>
              </div>
              <span id="keterangan">
                Showing <span id="from"></span> to <span id="to"></span> of
                <span id="total"></span> Entries
              </span>
              <div class="table-responsive">
                <table
                  class="table table-bordered table-striped table-hover"
                  id="dataTable"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Jenis cuti</th>
                      <th>Tanggal pengajuan</th>
                      <th>Pegawai</th>
                      <th>Tanggal awal cuti</th>
                      <th>Tanggal akhir cuti</th>
                      <th>Lama cuti</th>
                      <th>Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <select
                          class="select2 form-control filter_id_jenis_cuti"
                          name="filter_id_jenis_cuti"
                        >
                          <option value="">-- Jenis Cuti --</option>
                          <% jenisCuti.map((v,i) => { %>
                          <option value="<%- v.id_jenis_cuti%>">
                            <%- v.jenis_cuti %>
                          </option>
                          <% }) %>
                        </select>
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_waktu_pengajuan datepickerRange"
                          placeholder="Tanggal pengajuan..."
                          name="filter_waktu_pengajuan"
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_id_pegawai"
                          name="filter_id_pegawai"
                          placeholder="Nama pegawai..."
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_tanggal_awal_cuti datepicker"
                          placeholder="Tanggal awal cuti..."
                          name="filter_tanggal_awal_cuti"
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_tanggal_akhir_cuti datepicker"
                          placeholder="Tanggal akhir cuti..."
                          name="filter_tanggal_akhir_cuti"
                        />
                      </th>
                      <th></th>
                      <th>
                        <select
                          name="filter_is_setuju"
                          class="form-control filter_is_setuju"
                          id=""
                        >
                          <option value="">-- Is setuju ---</option>
                          <option value="1">Setuju</option>
                          <option value="0">Tidak Setuju</option>
                        </select>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<%- include('./modal') %> <%- include('./script') %>
