<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Saldo Cuti</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/saldoCuti"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_pegawai_saldo_cuti" value="" />
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Pegawai</label>
                <select
                  class="form-control select2 id_pegawai"
                  name="id_pegawai"
                >
                  <option value="">-- Pegawai --</option>
                  <% pegawai.map((v,i) => { %>
                  <option value="<%- v.id_pegawai %>">
                    <%- v.nama_lengkap %>
                  </option>
                  <% }) %>
                </select>
                <small class="text-danger error-id_pegawai"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Jenis Cuti</label>
                <select class="form-control id_jenis_cuti" name="id_jenis_cuti">
                  <option value="">-- Jenis cuti --</option>
                  <% jenisCuti.map((v,i) => { %>
                  <option value="<%- v.id_jenis_cuti %>">
                    <%- v.jenis_cuti %>
                  </option>
                  <% }) %>
                </select>
                <small class="text-danger error-id_jenis_cuti"></small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Periode awal</label>
                <input
                  type="text"
                  class="form-control datepicker periode_awal"
                  placeholder="Peridode awal"
                  name="periode_awal"
                  id="periode_awal"
                />
                <small class="text-danger error-periode_awal"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Periode akhir</label>
                <input
                  type="text"
                  class="form-control datepicker periode_akhir"
                  placeholder="Peridode akhir"
                  name="periode_akhir"
                  id="periode_akhir"
                />
                <small class="text-danger error-periode_akhir"></small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Apakah pegawai saldo cuti ini aktif ?</label>
            <div class="form-check">
              <input
                name="is_aktif"
                class="form-check-input is_aktif"
                type="checkbox"
                value="1"
                id="is_aktif"
              />
              <label class="form-check-label" for="is_aktif"> Ya </label>
            </div>
            <small class="text-danger error-is_aktif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/saldoCuti/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-is_aktif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
