<script>
  $(document).ready(function () {
    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/laporan/kehadiran",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            let jadwal_waktu_masuk = "-";
            let jadwal_waktu_pulang = "-";

            if (v.waktu_masuk != null) {
              jadwal_waktu_masuk = v.waktu_masuk;
              jadwal_waktu_masuk = jadwal_waktu_masuk.split(" ");
              let hari = convertDate(
                moment(jadwal_waktu_masuk[0]).format("dddd")
              );
              let tanggal_masuk = jadwal_waktu_masuk[0];
              let waktu_masuk = jadwal_waktu_masuk[1];
              jadwal_waktu_masuk = `
              <small>Hari: ${hari}</small> <br>
              <small>Tanggal: ${dateTime(tanggal_masuk)}</small> <br>
              <small>Waktu: ${waktu_masuk}</small> <br>
              `;
            }

            if (v.waktu_pulang != null) {
              jadwal_waktu_pulang = v.waktu_pulang;
              jadwal_waktu_pulang = jadwal_waktu_pulang.split(" ");
              let hari = convertDate(
                moment(jadwal_waktu_pulang[0]).format("dddd")
              );
              let tanggal_pulang = jadwal_waktu_pulang[0];
              let waktu_pulang = jadwal_waktu_pulang[1];
              jadwal_waktu_pulang = `
              <small>Hari: ${hari}</small> <br>
              <small>Tanggal: ${dateTime(tanggal_pulang)}</small> <br>
              <small>Waktu: ${waktu_pulang}</small> <br>
              `;
            }

            const {
              pegawai: {
                pegawai_unit: { cabang },
              },
            } = v;

            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${cabang.nama_cabang}</td>
                <td>${
                  v.is_hadir == 1
                    ? '<span class="badge badge-success"><i class="fas fa-check"></i></span>'
                    : '<span class="badge badge-danger"><i class="fas fa-times"></i></span>'
                }</td>
                <td>
                  ${
                    v.is_kerja == 1
                      ? '<span class="badge badge-success"><i class="fas fa-check"></i></span>'
                      : '<span class="badge badge-danger"><i class="fas fa-times"></i></span>'
                  }
                </td>
                <td>
                  ${jadwal_waktu_masuk}
                </td>
                <td>
                  ${jadwal_waktu_pulang}
                </td>
                <td>
                    <div class="text-center">
                      <a title="Detail pegawai" class="btn btn-info btn-sm btn-detail" data-id="${
                        v.id_pegawai_jadwal
                      }" href="/laporan/kehadiran/${
              v.id_pegawai_jadwal
            }/detail"><i class="fas fa-eye"></i> </a>
                    </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    function getFilter() {
      let setFilter = {};
      setFilter.id_pegawai = $(".filter_id_pegawai").val();
      setFilter.tahun = $(".filter_tahun").val();
      setFilter.bulan = $(".filter_bulan").val();
      setFilter.tanggal = $(".filter_tanggal").val();

      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.nama_cabang = $(".filter_nama_cabang").val();
      setFilter.is_hadir = $(".filter_is_hadir").val();
      setFilter.is_kerja = $(".filter_is_kerja").val();

      return setFilter;
    }

    $(document).on("change", ".filter_id_pegawai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tahun", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_bulan", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    $(document).on("input", ".filter_nama_lengkap", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_nama_cabang", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_hadir", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_kerja", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    // detail
    $(document).on("click", ".btn-detail", function (e) {
      e.preventDefault();
      let url = $(this).attr("href");
      $.ajax({
        url: url,
        dataType: "json",
        type: "get",
        success: function (data) {
          console.log("get data", data);
          const {
            result,
            result: { pegawai, jadwal, jenis_absensi },
          } = data;
          if (data.status == "200") {
            $("#modalDetail").modal("show");
            $("#td_id_pegawai").html(pegawai.nama_lengkap);
            $("#td_id_jadwal").html(dateTime(result.tanggal));
            $("#td_is_kerja").html(`
             ${
               result.is_kerja == "1"
                 ? "<i class='text-success fas fa-check-circle'></i>"
                 : "<i class='text-danger fas fa-times'></i>"
             }
            `);
            $("#td_is_hadir").html(`
             ${
               result.is_hadir == "1"
                 ? "<i class='text-success fas fa-check-circle'></i>"
                 : `
                 <div style="position: relative;">
                  <i class="text-danger fas fa-times" style="position: absolute; top: -5px; right: 0;"></i>
                  <textarea class="form-control" readonly="true" style="height: 50px; font-size: 12px;">${
                    jenis_absensi != null ? jenis_absensi.jenis_absensi : "-"
                  }
                  </textarea>
                </div>
                 `
             }
            `);
            $("#td_total_jam_kerja").html(
              moment.duration(result.total_jam_kerja).humanize()
            );
            $("#td_total_jam_kerja_real").html(
              `${
                result.total_jam_kerja_real != null
                  ? moment.duration(result.total_jam_kerja_real).humanize()
                  : "0"
              }`
            );
            let waktuMasuk = "-";
            if (result.is_hadir == "1") {
              waktuMasuk = result.waktu_masuk.split(" ");
              waktuMasuk = waktuMasuk[1];
            }
            $("#td_waktu_masuk").html(waktuMasuk);

            let waktuPulang = "-";
            if (result.is_hadir == "1") {
              waktuPulang = result.waktu_pulang.split(" ");
              waktuPulang = waktuPulang[1];
            }
            $("#td_waktu_pulang").html(waktuPulang);
            $("#td_is_terlambat").html(`
            ${
              result.is_terlambat == "1"
                ? `
                <div style="position: relative;">
                  <i class="text-success fas fa-check-circle" style="position: absolute; top: -5px; right: 0;"></i>
                  <textarea class="form-control" readonly="true" style="height: 50px; font-size: 12px;">${result.alasan_terlambat}
                  </textarea>
                </div>
                `
                : '<i class="text-danger fas fa-times"></i>'
            }
            `);
            $("#td_is_pulang_cepat").html(`
            ${
              result.is_pulang_cepat == "1"
                ? `
                <div style="position: relative;">
                  <i class="text-success fas fa-check-circle" style="position: absolute; top: -5px; right: 0;"></i>
                  <textarea class="form-control" readonly="true" style="height: 50px; font-size: 12px;">${result.alasan_pulang_cepat}
                  </textarea>
                </div>
                `
                : '<i class="text-danger fas fa-times"></i>'
            }
            `);

            $("#td_is_cuti").html(`
            ${
              result.is_cuti == "1"
                ? '<i class="text-success fas fa-check-circle"></i>'
                : '<i class="text-danger fas fa-times"></i>'
            }
            `);
            $("#td_is_lembur").html(`
            ${
              result.is_lembur == "1"
                ? '<i class="text-success fas fa-check-circle"></i>'
                : '<i class="text-danger fas fa-times"></i>'
            }
            `);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    // select 2 multiple
    function formatResult(state) {
      if (!state.id) {
        let name = null;
        name = $(state.element).data("name");

        var btn = $(
          `<div class="form-check">
              <input class="form-check-input checkbox-all-option" type="checkbox" value="1" id="checkbox-all-option" data-name="${name}">
              <label class="form-check-label" for="checkbox-all-option">
                Select all
              </label>
            </div>`
        );
        return btn;
      }

      var id = "state" + state.id;
      var checkbox = $(
        `<label class="form-check-label">
              ${state.text}
            </label>`,
        { id: id }
      );
      return checkbox;
    }

    $(".select2-multiple").select2({
      theme: "bootstrap4",
      dropdownParent: "#modalForm",
      templateResult: formatResult,
      width: "100%",
      closeOnSelect: false,
    });
  });
</script>

<%- include('../../utils/function') %>
