<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Pengajuan lembur</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/pengajuanLembur"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" class="page" value="add" />
          <input
            type="hidden"
            name="id_pengajuan_lembur"
            class="id_pengajuan_lembur"
            value=""
          />
          <div class="row">
            <div class="col-lg-4">
              <table class="w-100">
                <tr style="line-height: 50px">
                  <td class="pr-3"><span>Cabang</span></td>
                  <td>
                    <select
                      class="form-control id_cabang select2"
                      name="id_cabang"
                    >
                      <option value="">-- Cabang --</option>
                      <% cabang.map((v,i) => { %>
                      <option value="<%- v.id_cabang %>">
                        <%- v.nama_cabang %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_cabang"></small>
                  </td>
                </tr>
                <tr style="line-height: 50px">
                  <td><span>Jenis</span></td>
                  <td>
                    <select
                      class="form-control id_jenis_lembur"
                      name="id_jenis_lembur"
                    >
                      <option value="">-- Jenis lembur --</option>
                      <% jenisLembur.map((v,i) => { %>
                      <option value="<%- v.id_jenis_lembur %>">
                        <%- v.jenis_lembur %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_jenis_lembur"></small>
                  </td>
                </tr>
                <tr style="line-height: 50px">
                  <td><span>Tanggal</span></td>
                  <td>
                    <input
                      type="text"
                      class="form-control tanggal_lembur datepicker"
                      name="tanggal_lembur"
                      placeholder="Tanggal lembur..."
                    />
                    <small class="text-danger error-tanggal_lembur"></small>
                  </td>
                </tr>
                <tr style="line-height: 50px">
                  <td><span>Mulai</span></td>
                  <td>
                    <input
                      type="time"
                      class="form-control waktu_mulai"
                      name="waktu_mulai"
                      placeholder="Waktu mulai..."
                    />
                    <small class="text-danger error-waktu_mulai"></small>
                  </td>
                </tr>
                <tr style="line-height: 50px">
                  <td><span>Selesai</span></td>
                  <td>
                    <input
                      type="time"
                      class="form-control waktu_selesai"
                      name="waktu_selesai"
                      placeholder="Waktu selesai..."
                    />
                    <small class="text-danger error-waktu_selesai"></small>
                  </td>
                </tr>
                <tr style="line-height: 50px">
                  <td><span>Catatan</span></td>
                  <td>
                    <textarea
                      id="catatan"
                      class="form-control catatan"
                      placeholder="Catatan"
                      name="catatan"
                      style="height: 100px"
                    ></textarea>
                    <small class="text-danger error-catatan"></small>
                  </td>
                </tr>
                <tr style="line-height: 50px">
                  <td><span>Berkas</span></td>
                  <td>
                    <input
                      type="file"
                      class="form-control berkas"
                      name="berkas"
                      placeholder="Berkas..."
                    />
                    <small class="text-danger error-berkas"></small>
                    <div id="load_berkas"></div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-lg-8">
              <div class="mb-3">
                <select
                  name="search_id_pegawai"
                  class="select2 form-control search_id_pegawai"
                  id=""
                >
                  <option value="">-- Cari Pegawai --</option>
                </select>
                <small class="text-danger error-search_id_pegawai"></small>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="pegawaiPengajuanLembur">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>No. pegawai</th>
                      <th>Nama lengkap</th>
                      <th>Unit</th>
                      <th>Jabatan</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="onLoadPengajuanLembur"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalVerification"
  aria-labelledby="modalVerificationLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerificationLabel">Form Verifikasi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/pengajuanLembur/verifikasi"
        method="post"
        class="form-submit-verifikasi"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-verifikasi"></div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <a href="#" class="btn btn-success btn-sm btn-all-verified"
                  ><i class="fa-sharp fa-solid fa-check"></i> Setujui</a
                >
                <a href="#" class="btn btn-danger btn-sm btn-all-denied"
                  ><i class="fa-solid fa-circle-xmark"></i> Ditolak</a
                >
              </div>
              <div class="table-responsive">
                <table
                  class="table table-bordered"
                  id="pegawaiPengajuanLemburVerifikasi"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>No. pegawai</th>
                      <th>Nama lengkap</th>
                      <th>Unit</th>
                      <th>Jabatan</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="onLoadPengajuanLemburVerifikasi"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
