<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Jadwal</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/jadwal"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_jadwal" value="" />
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Waktu masuk</label>
                <input
                  type="time"
                  class="form-control waktu_masuk"
                  placeholder="Waktu masuk"
                  name="waktu_masuk"
                  id="waktu_masuk"
                />
                <small class="text-danger error-waktu_masuk"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Waktu keluar</label>
                <input
                  type="time"
                  class="form-control waktu_keluar"
                  placeholder="Waktu keluar"
                  name="waktu_keluar"
                  id="waktu_keluar"
                />
                <small class="text-danger error-waktu_keluar"></small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Warna</label>
                <input
                  type="color"
                  id="warna"
                  name="warna"
                  class="form-control warna"
                  value="#ffffff"
                />
                <small class="text-danger error-warna"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Jenis</label>
                <select name="jenis" class="form-control jenis" id="jenis">
                  <option value="">-- Jenis Shift--</option>
                  <option value="pagi">Pagi</option>
                  <option value="siang">Siang</option>
                  <option value="malam">Malam</option>
                  <option value="office">Office</option>
                </select>
                <small class="text-danger error-jenis"></small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Apakah jadwal ini aktif?</label>
            <div class="form-check">
              <input
                name="is_aktif"
                class="form-check-input is_aktif"
                type="checkbox"
                value="1"
                id="is_aktif"
              />
              <label class="form-check-label" for="is_aktif"> Ya </label>
            </div>
            <small class="text-danger error-is_aktif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/jadwal/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
