<footer class="main-footer">
  <div class="footer-left">
    Copyright &copy; 2022
    <div class="bullet"></div>
    Design By
    <a href="https://wa.me/6282277506232">Absensi Kepegawaian @ Satu Kantor</a>
  </div>
  <div class="footer-right">v.1</div>
</footer>
