<% 
let cabangUrl = '/admin/cabang';
let unitUrl = '/admin/unit';
let jabatanUrl = '/admin/jabatan';
let pegawaiJadwalUrl = '/pegawai/pegawaiJadwal';
let komponenGajiUrl= '/admin/komponenGaji';
let jenisAbsensiUrl= '/admin/jenisAbsensi';
let jenisCutiUrl= '/admin/jenisCuti';
let jenisLemburUrl= '/admin/jenisLembur';
let pegawaiUrl = '/admin/pegawai';
let jadwalUrl = '/admin/jadwal';
let unitPegawaiUrl = '/pegawai/unitPegawai';
let tugasUrl = '/admin/tugas';
let lokasiTugasUrl = '/admin/lokasiTugas';

let jabatanPegawaiUrl = '/pegawai/jabatanPegawai';
let saldoCutiUrl = '/pegawai/saldoCuti';
let kontrakPegawaiUrl = '/pegawai/kontrakPegawai';
let jenisMapping = jenis_mapping;
let catatanPegawaiUrl = '/pegawai/catatanPegawai';
let pengajuanGajiUrl = '/pegawai/pengajuanGaji';
let pengajuanCutiUrl = '/pegawai/pengajuanCuti';
let pengajuanLemburUrl = '/pegawai/pengajuanLembur';
let laporanKehadiranUrl = '/laporan/kehadiran';
let laporanCatatanPegawaiUrl = '/laporan/catatanPegawai';
let laporanCutiPegawaiUrl = '/laporan/cutiPegawai';
let laporanLemburPegawaiUrl = '/laporan/lemburPegawai';
let penugasanUrl = '/pegawai/penugasan';

%>

<aside id="sidebar-wrapper">
  <div class="sidebar-brand">
    <a href="index.html">Absensi Kepegawaian</a>
  </div>
  <div class="sidebar-brand sidebar-brand-sm">
    <a href="/admin/dashboard">St</a>
  </div>
  <ul class="sidebar-menu">
    <li class="menu-header">Dashboard</li>
    <li class="<%- currentUrl == '/admin/dashboard' ? 'active' : '' %>">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fa-solid fa-house"></i><span>Dashboard</span></a>
    </li>
    <li class="menu-header">Menu</li>

    <% 
    if(jenisMapping != 'client'){
    %>

    <li class="<%- currentUrl == '/admin/client' ? 'active' : '' %>">
      <a class="nav-link" href="/admin/client">
        <i class="fa-solid fa-user-tie"></i> <span>Data client</span></a>
    </li>
    <li class="<%- currentUrl == '/admin/langganan' ? 'active' : '' %>">
      <a class="nav-link" href="/admin/langganan">
        <i class="fa-solid fa-money-bill"></i> <span>Data langganan</span></a>
    </li>
    <li class="<%- currentUrl == '/pegawai/pegawaiClient' ? 'active' : '' %>">
      <a class="nav-link" href="/pegawai/pegawaiClient">
        <i class="fa-sharp fa-solid fa-users"></i> <span>Pegawai</span></a>
    </li>
    <% } %>

    <li class="<%- currentUrl == pegawaiUrl ? 'active' : '' %>">
      <a class="nav-link" href="<%- pegawaiUrl %>">
        <i class="fa-sharp fa-solid fa-users"></i> <span>Pegawai</span></a
      >
    </li>

    <li class="<%- currentUrl == pegawaiJadwalUrl ? 'active' : '' %>">
      <a class="nav-link" href="<%- pegawaiJadwalUrl %>">
        <i class="fa-sharp fa-solid fa-calendar-days"></i> <span>Jadwal Pegawai</span></a
      >
    </li>
 

    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
        <i class="fa-solid fa-user-tie"></i><span>Data Pegawai</span>
      </a>
      <ul class="dropdown-menu" <%- currentUrl == unitPegawaiUrl ||  currentUrl == jabatanPegawaiUrl || currentUrl == saldoCutiUrl ? ` style="display: block;"` : '' %>>
        <li class="<%- currentUrl == unitPegawaiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- unitPegawaiUrl %>"
            >Unit pegawai</a>
        </li>
        <li class="<%- currentUrl == jabatanPegawaiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- jabatanPegawaiUrl %>"
            >Jabatan pegawai</a>
        </li>
        <li class="<%- currentUrl == saldoCutiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- saldoCutiUrl %>"
            >Saldo cuti</a>
        </li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
        ><i class="fa-solid fa-square-pen"></i> <span>Pengajuan</span></a
      >
      <ul class="dropdown-menu" <%- currentUrl == pengajuanGajiUrl ||  currentUrl == pengajuanCutiUrl || currentUrl == pengajuanLemburUrl ? ` style="display: block;"` : '' %>>
        <li class="<%- currentUrl == pengajuanGajiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- pengajuanGajiUrl %>"
            >Pengajuan gaji</a
          >
        </li>
        <li class="<%- currentUrl == pengajuanCutiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- pengajuanCutiUrl %>"
            >Pengajuan cuti</a
          >
        </li>
        <li class="<%- currentUrl == pengajuanLemburUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- pengajuanLemburUrl %>"
            >Pengajuan lembur</a
          >
        </li>
      </ul>
    </li>


    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
        ><i class="fa-solid fa-book"></i><span>Task Tracking</span></a
      >
      <ul class="dropdown-menu" <%- currentUrl == tugasUrl ||  currentUrl == lokasiTugasUrl || currentUrl == penugasanUrl ? ` style="display: block;"` : '' %>>
        <li class="<%- currentUrl == tugasUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- tugasUrl %>"
            >Tugas</a>
        </li>
        <li class="<%- currentUrl == lokasiTugasUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- lokasiTugasUrl %>"
            >Lokasi Tugas</a>
        </li>
        <li class="<%- currentUrl == penugasanUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- penugasanUrl %>"
            >Penugasan</a>
        </li>
      </ul>
    </li>

    <li class="<%- currentUrl == kontrakPegawaiUrl ? 'active' : '' %>">
      <a class="nav-link" href="<%- kontrakPegawaiUrl %>"><i class="fa-solid fa-file-signature"></i><span>Kontrak Pegawai</span></a>
    </li>

    <li class="<%- currentUrl == catatanPegawaiUrl ? 'active' : '' %>">
      <a class="nav-link" href="<%- catatanPegawaiUrl %>">
        <i class="fa-solid fa-user-pen"></i> <span>Catatan Pegawai</span></a>
    </li>

    <li class="nav-item dropdown <%- currentUrl == unitUrl || currentUrl == jabatanUrl || currentUrl == jadwalUrl || currentUrl == komponenGajiUrl || currentUrl == jenisAbsensiUrl || currentUrl == jenisCutiUrl || currentUrl == jenisLemburUrl ? 'active' : '' %>">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
        ><i class="fa-solid fa-table"></i><span>Data Master</span></a
      >
      <ul class="dropdown-menu" <%- currentUrl == cabangUrl ? ` style="display: block;"` : '' %>>
        <li class="<%- currentUrl == cabangUrl? 'active' : '' %>">
          <a class="nav-link" href="<%- cabangUrl %>"
            >Data cabang</a>
        </li>
        <li class="<%- currentUrl == unitUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- unitUrl %>"
            >Data unit</a>
        </li>
        <li class="<%- currentUrl == jabatanUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- jabatanUrl %>"
            >Data jabatan</a>
        </li>
        <li class="<%- currentUrl == jadwalUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- jadwalUrl %>"
            >Data jadwal</a>
        </li>
        <li class="<%- currentUrl == komponenGajiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- komponenGajiUrl %>"
            >Data Komponen Gaji</a>
        </li>
        <li class="<%- currentUrl == jenisAbsensiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- jenisAbsensiUrl %>"
            >Data Jenis Absensi</a>
        </li>
        <li class="<%- currentUrl == jenisCutiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- jenisCutiUrl %>"
            >Data Jenis Cuti</a>
        </li>
        <li class="<%- currentUrl == jenisLemburUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- jenisLemburUrl %>"
            >Data Jenis Lembur</a>
        </li>
      </ul>
    </li>

    <li class="nav-item dropdown <%- currentUrl == laporanKehadiranUrl || currentUrl == laporanCatatanPegawaiUrl || currentUrl == laporanCutiPegawaiUrl || currentUrl == laporanLemburPegawaiUrl ? 'active' : '' %>">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"
        ><i class="fa-solid fa-calendar-days"></i><span>Data laporan</span></a
      >
      <ul class="dropdown-menu" <%- currentUrl == laporanKehadiranUrl ? ` style="display: block;"` : '' %>>
        <li class="<%- currentUrl == laporanKehadiranUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- laporanKehadiranUrl %>"
            >Kehadiran</a
          >
        </li>
        <li class="<%- currentUrl == laporanCatatanPegawaiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- laporanCatatanPegawaiUrl %>"
            >Catatan pegawai</a
          >
        </li>
        <li class="<%- currentUrl == laporanCutiPegawaiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- laporanCutiPegawaiUrl %>"
            >Cuti pegawai</a
          >
        </li>
        <li class="<%- currentUrl == laporanLemburPegawaiUrl ? 'active' : '' %>">
          <a class="nav-link" href="<%- laporanLemburPegawaiUrl %>"
            >Lembur pegawai</a
          >
        </li>

      </ul>
    </li>
    <li class="<%- currentUrl == 'logout' ? 'active' : '' %>">
      <a class="nav-link" href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i> <span>Logout</span></a
      >
    </li>
  </ul>

  <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
    <img src="/image/default.png" class="btn btn-primary btn-lg btn-block btn-icon-split mx-auto rounded" style="width: 150px;"></img>
    </a>
  </div>
</aside>
