<script>
  $(document).ready(function () {
    function onSubmit() {
      $.ajax({
        url: "/login",
        method: "post",
        type: "post",
        data: $(".form-submit").serialize(),
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            }).then((res) => {
              window.location.href = "/admin/dashboard";
            });
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#loading-data").addClass("d-none");
            $(".btn-submit").attr("disabled", false);
          }
        },
        error: function (x, t, m) {
          const { result, status, message } = x.responseJSON;
          if (status != null) {
            if (status == 400) {
              Swal.fire({
                icon: "error",
                title: "Failed",
                text: message,
                showConfirmButton: false,
                timer: 1500,
              });

              $("#loading-data").addClass("d-none");
              $(".btn-submit").attr("disabled", false);
            }
          }

          let output = ``;
          if (result != "") {
            if (result.map != "") {
              result.map((v, i) => {
                output += `
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Fail!</strong> ${v.msg}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            `;
              });
            }
          }

          $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      onSubmit();
    });
  });
</script>
