<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Komponen Gaji</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/komponenGaji"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_komponen_gaji" value="" />
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Komponen gaji</label>
            <input
              type="text"
              class="form-control komponen_gaji"
              placeholder="Komponen gaji"
              name="komponen_gaji"
              id="komponen_gaji"
            />
            <small class="text-danger error-komponen_gaji"></small>
          </div>
          <div class="form-group">
            <label for="">Jenis</label>
            <select name="jenis" class="form-control jenis" id="">
              <option value="">-- Jenis --</option>
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="+/-">+/-</option>
            </select>
            <small class="text-danger error-jenis"></small>
          </div>
          <div class="form-group">
            <label for="">Kelompok komponen</label>
            <select
              name="kelompok_komponen"
              class="form-control kelompok_komponen"
              id=""
            >
              <option value="">-- Kelompok komponen --</option>
              <option value="pokok">Pokok</option>
              <option value="tunjangan tetap">Tunjangan tetap</option>
              <option value="tunjangan tidak tetap">
                Tunjangan tidak tetap
              </option>
              <option value="iuran">Iuran</option>
              <option value="potongan lain">Potongan lain</option>
              <option value="pajak">Pajak</option>
            </select>
            <small class="text-danger error-kelompok_komponen"></small>
          </div>
          <div class="form-group">
            <label for="">Komponen</label>
            <select class="form-control komponen" name="komponen" id="komponen">
              <option value="">-- Komponen --</option>
              <option value="karyawan">Karyawan</option>
              <option value="perusahaan">Perusahaan</option>
            </select>
            <small class="text-danger error-komponen"></small>
          </div>
          <div class="form-group">
            <label for="">Apakah komponen gaji ini aktif?</label>
            <div class="form-check">
              <input
                name="is_aktif"
                class="form-check-input is_aktif"
                type="checkbox"
                value="1"
                id="is_aktif"
              />
              <label class="form-check-label" for="is_aktif"> Ya </label>
            </div>
            <small class="text-danger error-is_aktif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/komponenGaji/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
