<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <% if(jenis_mapping != 'client'){ include('../../utils/navbarClient') } %>

      <h2 class="section-title">Table <%- title %></h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-user-tie"></i> &nbsp; Daftar tabel pegawai jadwal
            </div>
            <div class="card-body">
              <div class="mb-1">
                <!-- <a
                  data-toggle="modal"
                  data-target="#modalPegawaiNoJadwal"
                  href="#"
                  class="btn btn-info icon-left btn-icon mb-2 btn-add"
                  ><i class="fas fa-book"></i> Pegawai Tidak Ada jadwal
                </a> -->
                <!-- <a
                  data-toggle="modal"
                  data-target="#modalPegawaiNoJadwal"
                  href="#"
                  class="btn btn-success icon-left btn-icon mb-2 btn-add"
                >
                  <i class="fa-solid fa-upload"></i> Upload Finger Print
                </a> -->
                <a
                  data-toggle="modal"
                  data-target="#modalForm"
                  href="#"
                  class="btn btn-primary icon-left btn-icon mb-2 btn-add"
                  ><i class="fas fa-plus"></i> Tambah Jadwal
                </a>
                <a
                  data-toggle="modal"
                  data-target="#modalImport"
                  href="#"
                  class="btn btn-success icon-left btn-icon mb-2 btn-import"
                  ><i class="fas fa-file-excel"></i> Import
                </a>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Select data:</label>
                    <select class="form-control select-limit">
                      <option value="">-- Limit --</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="form-group w-50 ml-auto">
                    <label>Pencarian:</label>
                    <input
                      type="text"
                      class="form-control search"
                      placeholder="Pencarian"
                    />
                  </div>
                </div>
              </div>
              <span id="keterangan">
                Showing <span id="from"></span> to <span id="to"></span> of
                <span id="total"></span> Entries
              </span>
              <div class="table-responsive">
                <table
                  class="table table-bordered table-striped table-hover"
                  id="dataTable"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th width="25%;">Pegawai</th>
                      <th width="20%;">Jadwal</th>
                      <th>Tanggal</th>
                      <th>Waktu Masuk/Pulang</th>
                      <th>Is Kerja</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_lengkap"
                          name="filter_nama_lengkap"
                          placeholder="Nama pegawai.."
                        />
                      </th>
                      <th>
                        <select
                          name="jadwal_id"
                          class="form-control jadwal_id_filter select2"
                          id=""
                        >
                          <option value="">-- Jadwal --</option>
                          <% jadwal.map((v,i) => { %>
                          <option value="<%- v.id_jadwal %>">
                            <%- v.waktu_masuk %> - <%- v.waktu_keluar %> | <%-
                            v.jenis %>
                          </option>
                          <% }) %>
                        </select>
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control tanggal_filter datepicker"
                          name="tanggal"
                          placeholder="Tanggal..."
                          value="<%- currentDate %>"
                        />
                      </th>
                      <th></th>
                      <th>
                        <select
                          name="filter_is_kerja"
                          class="form-control filter_is_kerja"
                          id=""
                        >
                          <option value="">-- Is Kerja --</option>
                          <option value="1">Kerja</option>
                          <option value="0">Tidak Kerja</option>
                        </select>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<%- include('./modal') %> <%- include('./script') %>
