<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Jadwal Pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center loading d-none">
        <img src="/image/loading.svg" alt="Loading form.." width="80px;" />
      </div>
      <%- include('./partial/formConfirmJadwal') %> <%-
      include('./partial/formPerPegawai') %> <%-
      include('./partial/formPerUnit') %>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalGantiJadwal"
  aria-labelledby="modalGantiJadwalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalGantiJadwalLabel">
          Form Ganti Jadwal
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/pegawaiJadwal/changeJadwal"
        method="post"
        class="form-submit-change-jadwal"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <p>
            <a
              href="/pegawai/pegawaiJadwal/batalGantiShift"
              class="btn btn-danger btn-sm btn-batal-change-shift d-none"
              data-id_pegawai_jadwal=""
            >
              <i class="fas fa-trash"></i> Batal Ganti Shift
            </a>
          </p>
          <div id="error-form-submit-change"></div>
          <input type="hidden" name="id_pegawai_jadwal" value="" />
          <div class="text-center">
            <div>
              <strong>Pegawai</strong>
              <p id="id_pegawai"></p>
            </div>
            <div>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div>
              <i class="fas fa-repeat"></i>
            </div>
            <div>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="mt-3">
              <strong>Pegawai</strong>
              <div class="w-50 mx-auto mt-2">
                <select
                  name="id_pegawai_pengganti"
                  class="form-control select2 id_pegawai_pengganti"
                  id=""
                >
                  <option value="">-- Pegawai --</option>
                  <% pegawai.map((v,i) => { %>
                  <option value="<%- v.id_pegawai %>">
                    <%- v.nama_lengkap %>
                  </option>
                  <% }) %>
                </select>
                <small class="text-danger error-id_pegawai_pengganti"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-change">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalFormEdit"
  aria-labelledby="modalFormEditLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormEditLabel">Form Jadwal Pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/pegawaiJadwal"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="edit" />
          <input type="hidden" name="id_pegawai_jadwal" value="" />

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Pegawai</label>
                <select
                  name="id_pegawai"
                  class="form-control select2 id_pegawai"
                  id=""
                  style="border: 1px solid black"
                >
                  <option value="">-- Pegawai --</option>
                  <% pegawai.map((v,i) => { %>
                  <option value="<%- v.id_pegawai %>">
                    <%- v.nama_lengkap %>
                  </option>
                  <% }) %>
                </select>
                <small class="text-danger error-id_pegawai"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Jadwal</label>
                <select
                  name="id_jadwal"
                  class="form-control select2 id_jadwal"
                  id=""
                >
                  <option value="">-- Jadwal --</option>
                  <% jadwal.map((v,i) => { %>
                  <option value="<%- v.id_jadwal %>">
                    <%- v.waktu_masuk %> - <%- v.waktu_keluar %> | <%- v.jenis
                    %>
                  </option>
                  <% }) %>
                </select>
                <small class="text-danger error-id_jadwal"></small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Tanggal</label>
            <input
              type="text"
              class="form-control datepicker tanggal"
              placeholder="Tanggal..."
              name="tanggal"
            />
            <small class="text-danger error-tanggal"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/pegawaiJadwal/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
