<script>
  $(document).ready(function () {
    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/pegawaiJadwal",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          console.log("data result", dataResult);
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            let jadwal_waktu_masuk = "-";
            let jadwal_waktu_keluar = "-";
            let jadwal_waktu_jenis = "-";

            if (v.jadwal != null) {
              jadwal_waktu_masuk = "Waktu masuk: " + v.jadwal.waktu_masuk;
              jadwal_waktu_keluar = "Waktu keluar: " + v.jadwal.waktu_keluar;
              jadwal_waktu_jenis = v.jadwal.jenis;
            }

            let jenisAbsensi = null;
            if (v.jenis_absensi != null) {
              jenisAbsensi = v.jenis_absensi.jenis_absensi;
            }
            let hari = moment(v.tanggal).format("dddd");
            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${capitalizeEachWord(jadwal_waktu_jenis)}</td>
                <td>
                <small>Hari: ${convertDate(hari)}</small><br/>
                <small>Tanggal: ${dateTime(v.tanggal)}</small>
                </td>
                <td>
                  <small>${jadwal_waktu_masuk}</small>  <br>
                  <small>${jadwal_waktu_keluar}</small>  <br>
                </td>
                <td>
                  ${
                    v.is_kerja == 1
                      ? '<span class="badge badge-success"><i class="fas fa-check"></i></span>'
                      : '<span class="badge badge-danger"><i class="fas fa-times"></i></span>'
                  }
                </td>
                <td>
                    <div class="text-center">
                          <a class="btn btn-warning btn-edit btn-sm" data-id="${
                            v.id_pegawai_jadwal
                          }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                          <a class="btn btn-danger btn-sm btn-delete" data-id="${
                            v.id_pegawai_jadwal
                          }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/delete"><i class="fas fa-trash"></i> </a>

            <a
            data-toggle="modal"
            data-target="#modalGantiJadwal"
            title="Ganti jadwal" class="btn btn-info btn-sm btn-change-shift" data-id="${
              v.id_pegawai_jadwal
            }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/edit"><i class="fas fa-repeat"></i> </a>
                    </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    function getFilter() {
      let setFilter = {};
      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.jadwal_id = $(".jadwal_id_filter").val();
      setFilter.tanggal = $(".tanggal_filter").val();
      setFilter.is_kerja = $(".filter_is_kerja").val();
      return setFilter;
    }

    $(document).on("change", ".filter_is_kerja", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    $(document).on("input", ".filter_nama_lengkap", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".jadwal_id_filter", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".tanggal_filter", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('.form-submit-perpegawai input[name="page"]').val("add");
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit-perpegawai").html("");
      $(".form-submit-perpegawai").trigger("reset");

      $('.form-submit-perpegawai select[name="id_jadwal"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit-perpegawai select[name="id_pegawai"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit-perpegawai select[name="bulan_perpegawai"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit-perpegawai select[name="hari_libur_perpegawai"] option')
        .attr("selected", false)
        .trigger("change");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    function resetFormEdit() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");

      $('.form-submit select[name="id_jadwal"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit select[name="id_pegawai"] option')
        .attr("selected", false)
        .trigger("change");
    }

    function resetFormImport() {
      $("#error-form-submit-import").html("");
      $(".form-submit-import").trigger("reset");
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("click", ".btn-submit-perPegawai", function (e) {
      e.preventDefault();
      $(".form-submit-perpegawai").submit();
    });

    $(document).on("submit", ".form-submit-perpegawai", function (e) {
      e.preventDefault();
      let data = {};
      data.page = $('.form-submit-perpegawai input[name="page"]').val();
      data.id_pegawai_jadwal = $(
        '.form-submit-perpegawai input[name="id_pegawai_jadwal"]'
      ).val();
      data.id_pegawai = $(
        '.form-submit-perpegawai select[name="id_pegawai"]'
      ).val();
      data.id_jadwal = $(
        '.form-submit-perpegawai select[name="id_jadwal"]'
      ).val();

      bulan_perpegawai = [];
      let get_bulan_perpegawai = $(
        ".form-submit-perpegawai select[name='bulan_perpegawai'] option:selected"
      );
      $.each(get_bulan_perpegawai, function (i, v) {
        bulan_perpegawai.push($(this).val());
      });
      bulan_perpegawai = bulan_perpegawai.join(",");

      hari_libur_perpegawai = [];
      let get_hari_libur_perpegawai = $(
        ".form-submit-perpegawai select[name='hari_libur_perpegawai'] option:selected"
      );
      $.each(get_hari_libur_perpegawai, function (i, v) {
        hari_libur_perpegawai.push($(this).val());
      });
      hari_libur_perpegawai = hari_libur_perpegawai.join(",");

      data.bulan = bulan_perpegawai;
      data.hari_libur = hari_libur_perpegawai;
      onSubmitPerPegawai(data);
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let url = $(this).attr("action");
      onSubmit(url);
    });

    function onSubmitPerPegawai(data) {
      $.ajax({
        url: "/pegawai/pegawaiJadwal",
        type: "post",
        data: data,
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit-perPegawai").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-perpegawai").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit-perPegawai").attr("disabled", false);
        },
      });
    }

    function onSubmit(url) {
      $.ajax({
        url: url,
        type: "post",
        data: $(".form-submit").serialize(),
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalFormEdit").modal("hide");
            loadTable(null, null, null, getFilter());
            resetFormEdit();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalFormEdit").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    function loadGetPegawaiJadwal(action) {
      var output = null;
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          output = result;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      const result = loadGetPegawaiJadwal(action);

      $('.form-submit input[name="id_pegawai_jadwal"]').val(
        result.id_pegawai_jadwal
      );
      $(
        '.form-submit select[name="id_pegawai"] option[value="' +
          result.id_pegawai +
          '"]'
      )
        .attr("selected", true)
        .trigger("change");
      $(
        '.form-submit select[name="id_jadwal"] option[value="' +
          result.id_jadwal +
          '"]'
      )
        .attr("selected", true)
        .trigger("change");
      $('.form-submit input[name="tanggal"]').val(dateTime(result.tanggal));

      $("#modalFormEdit").modal().show();
      $('.form-submit input[name="page"]').val("edit");
    });

    function loadPegawaiAll() {
      $.ajax({
        url: "/pegawai/pegawaiJadwal/pegawaiLoadData",
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          let output = `<option value="">-- Pegawai --</option>`;
          $.each(result, (i, v) => {
            output += `<option value="${v.id_pegawai}">${v.no_identitas} ${v.nama_lengkap}</option>`;
          });
          $('select[name="id_pegawai_pengganti"]').html(output);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    // select 2 multiple
    function formatResult(state) {
      if (!state.id) {
        let name = null;
        name = $(state.element).data("name");

        var btn = $(
          `<div class="form-check">
              <input class="form-check-input checkbox-all-option" type="checkbox" value="1" id="checkbox-all-option" data-name="${name}">
              <label class="form-check-label" for="checkbox-all-option">
                Select all
              </label>
            </div>`
        );
        return btn;
      }

      var id = "state" + state.id;
      var checkbox = $(
        `<label class="form-check-label">
              ${state.text}
            </label>`,
        { id: id }
      );
      return checkbox;
    }

    $(".select2-multiple").select2({
      theme: "bootstrap4",
      dropdownParent: "#modalForm",
      templateResult: formatResult,
      width: "100%",
      closeOnSelect: false,
    });

    // form pegawai
    $(document).on("click", ".btn-per-unit", function () {
      $(".loading").removeClass("d-none");
      let time = 0;
      let timeOut = setTimeout(() => {
        $(".loading").addClass("d-none");
        time += 250;

        if (time == 250) {
          clearTimeout(timeOut);
          $(".form-jadwal-per-unit").removeClass("d-none");
          $(".form-jadwal-per-pergawai").addClass("d-none");
          $(".form-btn-confirm-jadwal").addClass("d-none");
        }
      }, 250);
    });
    $(document).on("click", ".btn-per-pegawai", function () {
      $(".loading").removeClass("d-none");
      let time = 0;
      let timeOut = setTimeout(() => {
        $(".loading").addClass("d-none");
        time += 250;

        if (time == 250) {
          clearTimeout(timeOut);
          $(".form-jadwal-per-pergawai").removeClass("d-none");
          $(".form-jadwal-per-unit").addClass("d-none");
          $(".form-btn-confirm-jadwal").addClass("d-none");
        }
      }, 250);
    });

    $(document).on("click", ".btn-back", function () {
      $(".loading").removeClass("d-none");
      let time = 0;
      let timeOut = setTimeout(() => {
        time += 250;

        if (time == 250) {
          clearTimeout(timeOut);
          $(".loading").addClass("d-none");
          $(".form-jadwal-per-pergawai").addClass("d-none");
          $(".form-jadwal-per-unit").addClass("d-none");
          $(".form-btn-confirm-jadwal").removeClass("d-none");
        }
      }, 250);
    });

    // import
    $(document).on("click", ".btn-submit-import", function (e) {
      e.preventDefault();
      $(".form-submit-import").submit();
    });

    $(document).on("submit", ".form-submit-import", function (e) {
      e.preventDefault();
      let form = $(".form-submit-import")[0];
      let data = new FormData(form);
      onSubmitImport(data);
    });

    function onSubmitImport(data) {
      let url = $(".form-submit-import").attr("action");
      $.ajax({
        url: url,
        method: "post",
        type: "post",
        data: data,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
          $(".btn-submit-import").attr("disabled", true);
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
            resetFormImport();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },
        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-import").html(output);
        },
        complete: function () {
          $(".btn-submit-import").attr("disabled", false);
          $("#loading-data").addClass("d-none");
        },
      });
    }
  });
</script>
<%- include('./scriptPerUnit') %> <%- include('./scriptPegawaiPengganti') %> <%-
include('../../utils/function') %> <%- include('../../utils/select2-custom') %>
