<script>
  $(document).ready(function () {
    function getFilter() {
      let setFilter = {};
      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.jadwal_id = $(".jadwal_id_filter").val();
      setFilter.tanggal = $(".tanggal_filter").val();
      setFilter.is_kerja = $(".filter_is_kerja").val();
      return setFilter;
    }

    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/pegawaiJadwal",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            let jenisAbsensi = null;
            if (v.jenis_absensi != null) {
              jenisAbsensi = v.jenis_absensi.jenis_absensi;
            }
            let hari = moment(v.tanggal).format("dddd");
            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${capitalizeEachWord(v.jadwal.jenis)}</td>
                <td>
                <small>Hari: ${convertDate(hari)}</small><br/>
                <small>Tanggal: ${dateTime(v.tanggal)}</small>
                </td>
                <td>
                  <small>Waktu masuk: ${v.jadwal.waktu_masuk}</small>  <br>
                  <small>Waktu keluar: ${v.jadwal.waktu_keluar}</small>  <br>
                </td>
                <td>
                    <div class="text-center">
                          <a class="btn btn-warning btn-edit btn-sm" data-id="${
                            v.id_pegawai_jadwal
                          }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                          <a class="btn btn-danger btn-sm btn-delete" data-id="${
                            v.id_pegawai_jadwal
                          }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/delete"><i class="fas fa-trash"></i> </a>

            <a
            data-toggle="modal"
            data-target="#modalGantiJadwal"
            title="Ganti jadwal" class="btn btn-info btn-sm btn-change-shift" data-id="${
              v.id_pegawai_jadwal
            }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/edit"><i class="fas fa-repeat"></i> </a>
                    </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    function resetForm() {
      $("#error-form-submit-change").html("");
      $(".form-submit-change-jadwal").trigger("reset");

      $('.form-submit-change-jadwal select[name="id_pegawai_pengganti"] option')
        .attr("selected", false)
        .trigger("change");
    }
    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    function loadGetPegawaiJadwal(action) {
      var output = null;
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          output = result;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    function loadPegawaiAll() {
      $.ajax({
        url: "/pegawai/pegawaiJadwal/pegawaiLoadData",
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          let output = `<option value="">-- Pegawai --</option>`;
          $.each(result, (i, v) => {
            output += `<option value="${v.id_pegawai}">${v.no_identitas} ${v.nama_lengkap}</option>`;
          });
          $('select[name="id_pegawai_pengganti"]').html(output);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".btn-change-shift", function (e) {
      e.preventDefault();
      loadPegawaiAll();

      const action = $(this).attr("href");

      const result = loadGetPegawaiJadwal(action);
      const { pegawai } = result;

      $(
        'select[name="id_pegawai_pengganti"] option[value="' +
          result.id_pegawai +
          '"]'
      ).remove();
      $("p#id_pegawai").html(pegawai.nama_lengkap);
      $('input[name="id_pegawai_jadwal"]').val(result.id_pegawai_jadwal);

      if (result.is_ganti_jadwal == 1) {
        $(
          'select[name="id_pegawai_pengganti"] option[value="' +
            result.id_pegawai_pengganti +
            '"]'
        )
          .attr("selected", true)
          .trigger("change");

        $(".btn-batal-change-shift").attr(
          "data-id_pegawai_jadwal",
          result.id_pegawai_jadwal
        );

        $(".btn-batal-change-shift").removeClass("d-none");
      } else {
        $(".btn-batal-change-shift").addClass("d-none");
      }
    });

    $(document).on("click", ".btn-submit-change", function (e) {
      e.preventDefault();
      $(".form-submit-change-jadwal").submit();
    });

    $(document).on("submit", ".form-submit-change-jadwal", function (e) {
      e.preventDefault();
      let url = $(this).attr("action");
      onSubmit(url);
    });
    function onSubmit(url) {
      $.ajax({
        url: url,
        type: "post",
        data: $(".form-submit-change-jadwal").serialize(),
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit-change").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalGantiJadwal").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalGantiJadwal").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-change").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit-change").attr("disabled", false);
        },
      });
    }
    $(document).on("click", ".btn-batal-change-shift", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Info",
        text: "Yakin ingin batalkan ganti shift ?",
        icon: "info",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          let url = $(this).attr("href");
          let id_pegawai_jadwal = $(this).data("id_pegawai_jadwal");

          $.ajax({
            url: url,
            dataType: "json",
            type: "post",
            data: {
              id_pegawai_jadwal: id_pegawai_jadwal,
            },
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire({
                  icon: "success",
                  title: "Successfully",
                  text: data.message,
                  showConfirmButton: false,
                  timer: 1250,
                });

                $("#modalGantiJadwal").modal("hide");
                loadTable(null, null, null, getFilter());
                resetForm();
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });
  });
</script>
