<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <%- include('../../utils/navbarClient') %>
      <h2 class="section-title d-block">Table <%- title %></h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-dashboard"></i> &nbsp; Dashboard client
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="card shadow-lg border-left border-info">
                    <div class="card-body">
                      <i class="fas fa-calender"></i>
                      <h5 class="font-weight-bold">Jadwal</h5>
                      <div class="mt-4">
                        <div class="d-flex justify-content-between">
                          <h6>5</h6>
                          <i class="fas fa-user" style="font-size: 20px"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card shadow-lg border-left border-primary">
                    <div class="card-body">
                      <i class="fas fa-calender"></i>
                      <h5 class="font-weight-bold">Cabang</h5>
                      <div class="mt-4">
                        <div class="d-flex justify-content-between">
                          <h6>5</h6>
                          <i
                            class="fa-solid fa-calendar-days"
                            style="font-size: 20px"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card shadow-lg border-left border-success">
                    <div class="card-body">
                      <i class="fas fa-calender"></i>
                      <h5 class="font-weight-bold">Unit</h5>
                      <div class="mt-4">
                        <div class="d-flex justify-content-between">
                          <h6>5</h6>

                          <i
                            class="fa-sharp fa-solid fa-building-flag"
                            style="font-size: 20px"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card shadow-lg border-left border-dark">
                    <div class="card-body">
                      <i class="fas fa-calender"></i>
                      <h5 class="font-weight-bold">Pegawai</h5>
                      <div class="mt-3">
                        <div class="d-flex justify-content-between">
                          <h6>5</h6>
                          <i
                            class="fa-sharp fa-solid fa-users"
                            style="font-size: 20px"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
