<script>
  $(document).ready(function () {
    function getFilter() {
      let setFilter = {};
      setFilter.jenis_lembur = $(".filter_jenis_lembur").val();
      setFilter.jenis_jadwal = $(".filter_jenis_jadwal").val();
      setFilter.jenis_perhitungan = $(".filter_jenis_perhitungan").val();
      setFilter.is_aktif = $(".filter_is_aktif").val();
      return setFilter;
    }

    $(document).on("input", ".filter_jenis_lembur", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_jenis_jadwal", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_jenis_perhitungan", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_aktif", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    new AutoNumeric(".numeric-kehadiran", { decimalPlaces: 0 });
    new AutoNumeric.multiple(
      [
        "input[name='lembur_1']",
        "input[name='lembur_2']",
        "input[name='lembur_3']",
        "input[name='lembur_4']",
        "input[name='lembur_5']",
        "input[name='lembur_6']",
        "input[name='lembur_7']",
        "input[name='lembur_8']",
      ],
      {
        decimalPlaces: 0,
      }
    );

    loadTable(null, null, null, getFilter());
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/admin/jenisLembur",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          client_id: "<%- id_client %>",
          filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = 1;
          let formula = null;
          let stringFormula = null;
          data.map((v, i) => {
            stringFormula = ``;
            formula = JSON.parse(v.formula);
            output += `
            <tr>
              <td>${no++}</td>
              <td>${v.jenis_lembur}</td>
              <td>${v.jenis_jadwal}</td>
              <td>${v.jenis_perhitungan}</td>
              <td>`;
            output += `
            <ul>`;
            formula.map((v, i) => {
              Object.keys(v).map((v2, i2) => {
                if (v2 != "kehadiran") {
                  let jam = v2.split("_");
                  jam = jam[1];
                  let nominal = v[v2];
                  output += `<li>${jam} Jam: Rp. ${numberWithCommas(
                    nominal
                  )}</li>`;
                } else {
                  let nominal = v[v2];
                  output += `<li>Kehadiran: Rp. ${numberWithCommas(
                    nominal
                  )}</li>`;
                }
              });
            });
            output += `
            </ul>`;
            output += `
            </td>
              <td>${
                v.is_aktif == 1
                  ? '<span class="badge badge-success">Aktif</span>'
                  : '<span class="badge badge-danger">Tidak aktif</span>'
              }</td>
              <td>
                <div class="text-center">
                  <a class="btn btn-warning btn-edit btn-sm" data-id="${
                    v.id_jenis_lembur
                  }" href="/admin/jenisLembur/${
              v.id_jenis_lembur
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                  <a class="btn btn-danger btn-sm btn-delete" data-id="${
                    v.id_jenis_lembur
                  }" href="/admin/jenisLembur/${
              v.id_jenis_lembur
            }/delete"><i class="fas fa-trash"></i> </a>
                </div>
              </td>
            </tr>
            `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
          <ul class="pagination mb-0">
            <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
              <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
            </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                  <li class="page-item ${v.active}">
                    <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                  </li>
            `;
          });
          paginationButton += `
          <li class="page-item ${buttonNext == false ? "disabled" : ""}">
          <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let filter = getFilter();
      loadTable(page, limit, search, filter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      $(".form-submit")[0].reset();
      $('input[name="is_aktif"]').attr("checked", false);
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $("#load_form_formula").html("");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    function resetFormImport() {
      $("#error-form-submit-import").html("");
      $(".form-submit-import").trigger("reset");
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let data = {};
      data.page = $('input[name="page"]').val();
      data.id_jenis_lembur = $('input[name="id_jenis_lembur"]').val();
      data.id_client = $('input[name="id_client"]').val();
      data.jenis_lembur = $('input[name="jenis_lembur"]').val();
      data.jenis_perhitungan = $('select[name="jenis_perhitungan"]').val();
      data.jenis_jadwal = $('select[name="jenis_jadwal"]').val();
      data.is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        data.is_aktif = 1;
      }
      let dataFormula = [];
      if (data.jenis_perhitungan == "jam") {
        dataFormula = [];
        let lembur_1 = $('input[name="lembur_1"]').val();
        if (lembur_1 != "" && lembur_1 != null && lembur_1 != 0) {
          lembur_1 = lembur_1.split(",").join("");
          dataFormula.push({
            jam_1: lembur_1,
          });
        }
        let lembur_2 = $('input[name="lembur_2"]').val();
        if (lembur_2 != "" && lembur_2 != null && lembur_2 != 0) {
          lembur_2 = lembur_2.split(",").join("");
          dataFormula.push({
            jam_2: lembur_2,
          });
        }
        let lembur_3 = $('input[name="lembur_3"]').val();
        if (lembur_3 != "" && lembur_3 != null && lembur_3 != 0) {
          lembur_3 = lembur_3.split(",").join("");
          dataFormula.push({
            jam_3: lembur_3,
          });
        }
        let lembur_4 = $('input[name="lembur_4"]').val();
        if (lembur_4 != "" && lembur_4 != null && lembur_4 != 0) {
          lembur_4 = lembur_4.split(",").join("");
          dataFormula.push({
            jam_4: lembur_4,
          });
        }
        let lembur_5 = $('input[name="lembur_5"]').val();
        if (lembur_5 != "" && lembur_5 != null && lembur_5 != 0) {
          lembur_5 = lembur_5.split(",").join("");
          dataFormula.push({
            jam_5: lembur_5,
          });
        }
        let lembur_6 = $('input[name="lembur_6"]').val();
        if (lembur_6 != "" && lembur_6 != null && lembur_6 != 0) {
          lembur_6 = lembur_6.split(",").join("");
          dataFormula.push({
            jam_6: lembur_6,
          });
        }
        let lembur_7 = $('input[name="lembur_7"]').val();
        if (lembur_7 != "" && lembur_7 != null && lembur_7 != 0) {
          lembur_7 = lembur_7.split(",").join("");
          dataFormula.push(lembur_7);
          dataFormula.push({
            jam_7: lembur_7,
          });
        }
        let lembur_8 = $('input[name="lembur_8"]').val();
        if (lembur_8 != "" && lembur_8 != null && lembur_8 != 0) {
          lembur_8 = lembur_8.split(",").join("");
          dataFormula.push({
            jam_8: lembur_8,
          });
        }
      }
      if (data.jenis_perhitungan == "kehadiran") {
        dataFormula = [];
        let nominal_kehadiran = $('input[name="nominal_kehadiran"]').val();
        if (nominal_kehadiran != "") {
          nominal_kehadiran = nominal_kehadiran.split(",").join("");
          dataFormula.push({
            kehadiran: nominal_kehadiran,
          });
        }
      }
      data.formula = JSON.stringify(dataFormula);
      onSubmit(data);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/admin/jenisLembur",
        method: "post",
        type: "post",
        data: data,
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },
        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }
          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          const formula = JSON.parse(result.formula);

          $('input[name="id_jenis_lembur"]').val(result.id_jenis_lembur);
          $('input[name="jenis_lembur"]').val(result.jenis_lembur);
          $('select[name="jenis_jadwal"]').val(result.jenis_jadwal);
          $('select[name="jenis_perhitungan"]').val(result.jenis_perhitungan);

          formula.map((v, i) => {
            Object.keys(v).map((v2, o2) => {
              let jam = v2.split("_");
              jam = jam[1];
              $(`input[name="lembur_${jam}"]`).val(numberWithCommas(v[v2]));
            });
          });
          if (result.is_aktif != "" && result.is_aktif != null) {
            $('input[name="is_aktif"]').attr("checked", true);
          }
          if (result.jenis_perhitungan == "jam") {
            $("#image_redo").css({ display: "none" });
            $("#lembur_jam").removeClass("d-none");
            $("#lembur_kehadiran").addClass("d-none");
          }
          if (result.jenis_perhitungan == "kehadiran") {
            $("#image_redo").css({ display: "none" });
            $("#lembur_jam").addClass("d-none");
            $("#lembur_kehadiran").removeClass("d-none");
          }

          if (result.jenis_perhitungan == "") {
            $("#image_redo").css({ display: "block" });
            $("#lembur_jam").addClass("d-none");
            $("#lembur_kehadiran").addClass("d-none");
          }

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    $(document).on("change", "#jenis_perhitungan", function (e) {
      e.preventDefault();
      let val = $(this).val();
      if (val == "jam") {
        $("#image_redo").css({ display: "none" });
        $("#lembur_jam").removeClass("d-none");
        $("#lembur_kehadiran").addClass("d-none");
      }
      if (val == "kehadiran") {
        $("#image_redo").css({ display: "none" });
        $("#lembur_jam").addClass("d-none");
        $("#lembur_kehadiran").removeClass("d-none");
      }

      if (val == "") {
        $("#image_redo").css({ display: "block" });
        $("#lembur_jam").addClass("d-none");
        $("#lembur_kehadiran").addClass("d-none");
      }
    });

    // import
    $(document).on("click", ".btn-submit-import", function (e) {
      e.preventDefault();
      $(".form-submit-import").submit();
    });

    $(document).on("submit", ".form-submit-import", function (e) {
      e.preventDefault();
      let form = $(".form-submit-import")[0];
      let data = new FormData(form);
      onSubmitImport(data);
    });

    function onSubmitImport(data) {
      let url = $(".form-submit-import").attr("action");
      $.ajax({
        url: url,
        method: "post",
        type: "post",
        data: data,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit-import").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
            resetFormImport();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },
        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }
          // $("#error-form-submit-import").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit-import").attr("disabled", false);
        },
      });
    }
  });
</script>
